body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #fafafa;
}

.container {
    width: 320px;
    margin: auto;
    padding: 20px;
}

input, select {
    width: 100%;
    margin-bottom: 12px;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
}

img {
    width: 100%;
    margin-top: 20px;
    border: 2px solid black;
}
